*{
    font-family: "Poppins" , sans-serif;
}

.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.left-side{
    padding-left: 8rem;
    margin-left: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: start;
    width: 600px;
    gap: 15px;
}

.title{
    font-size: 35px;
    font-weight: 600;
}

.right-side img{
    margin-top: 60px;
    margin-right: 12rem;
    width: 300px;
}


.signup{
    margin-top: 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 12px;
    outline: 0;
    border: 0;
    border-radius: 12px;
    background: #5D8DB1;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}

